.main-footer {
  display: none;
  padding-top: 50px;
  margin-bottom: 50px;

  h3 {
    padding: 0 25px;
    text-align: center;
  }

  h2.arrow {
  background: url('../images/h1-bg.png') no-repeat center bottom; 
  padding-bottom: 30px; 
  text-align: center;
  }

  p {
    padding: 0 25px;
    text-align: center;
    margin: 0 auto;

    &.small-print {
      font-size: 12px;
      color: $color-grey;
    }
  }

  .contact-container{
    max-width: 1200px;
    margin: 0 auto;
  }

  #contact-holder{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .col-4{
      width: 25%;
      min-width: 227px;
      display: inline-block;
      h2{
        text-align: center;
        font-size: 1.5em;
      }
      a, p{
        font-size: 1em;
        @media (min-width: $brk-laptop){
          font-size: 1.1em;
        }
      }
    }

    
    .col-4{
      max-width: 250px;
      margin: 0 auto 25px;
      display: block;

      @media (min-width: $brk-phone-l){
        width: 100%;
      }
      @media (min-width: $brk-custom-2){
        max-width: 325px;
      }
      @media (min-width: $brk-tablet){
        display: inline-block;
        max-width: 225px;
        width: 100%;
        &:nth-child(2) {
        margin: 20px 10px;
        }
      }
      @media (min-width: $brk-custom-3){
        &:nth-child(2) {
        margin: 20px 20px;
        }
      }
      @media (min-width: $brk-laptop){
        max-width: 325px;
        &:nth-child(2) {
        margin: 20px 30px;
        }
      }
    }
  }

  .fa{
    display: block;
    line-height: 3;
    text-align: center;
    font-size: 1.5em;
  }

  .light-box { 
  background-color: #fff; 
  -webkit-box-shadow: 0px 3px 0px 0px #eeeeee; 
  -moz-box-shadow: 0px 3px 0px 0px #eeeeee; 
  box-shadow: 0px 3px 0px 0px #eeeeee; 
  padding: 20px 0; 

  &:hover, &:focus { 
    -webkit-box-shadow: 0px 3px 0px 0px #999999; 
    -moz-box-shadow: 0px 3px 0px 0px #999999; 
    box-shadow: 0px 3px 0px 0px #999999; 
  }
  a {
    text-decoration: none;
    color: black;
  }
}
.box-hover { 
  transition: all 500ms ease-in-out; 
  -webkit-transition: all 500ms ease-in-out; 
  -moz-transition: all 500ms ease-in-out; 
  -o-transition: all 500ms ease-in-out; 

  &:hover, &:focus { 
    transform: translate(0, -15px); 
    -webkit-transform: translate(0, -15px); 
    -ms-transform: translate(0, -15px); 
  }
}


  a.email {
    display: block;
    margin: 50px 0 35px;
    text-decoration: none;
    transition: color .3s;
    color: $color-grey;

    &:hover {
      color: $color-black;
    }
  }

  .social-media {
    padding: 0;
    padding-top: 50px;
    list-style: none;
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
      text-indent: -9999px;
      display: block;
      margin: 15px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: $color-bright-grey;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 85%;
      transition: background-color .3s;

      &.twitter {
        background-image: url(../images/icon-twitter.svg);
      }
      &.facebook {
        background-image: url(../images/icon-facebook.svg);
      }
      &.linkedin {
        background-image: url(../images/icon-linkedin.svg);
      }
      &.github {
        background-image: url(../images/icon-github.svg);
      }

      &:hover {
        background-color: $color-dark-grey;
      }

    }
  }

}
